* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #219224;
  --danger-color: #f44336;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Global Rools */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* Start Style */
header {
  padding: 30px 60px;
  background-color: #ddd;
}

@media (max-width: 767px) {
  header {
    padding: 20px;
    background-color: lavender;
  }
  header h1 {
    text-align: center;
    font-size: 24;
  }
}

.container .top {
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent lightgray;
}

.container .top ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 991px) {
  .container .top ul {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .container .top {
    display: none;
  }
}

.container .top ul li {
  text-align: center;
  font-weight: bold;
}

.container .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent lightgray;
}

.container .content span {
  color: var(--primary-color);
  font-weight: bold;
}

.container .content i {
  color: var(--danger-color);
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .container .content {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .container .content {
    height: 250px;
    flex-direction: column;
    text-align: center;
  }
}

.container .content div,
.container .content span,
.container .content i {
  width: 200px;
  margin: auto;
}

.container .content .image {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container .content .image img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.container .bootom {
  padding: 40px 60px;
}

.container .bootom .btns {
  text-align: center;
}

.container .bootom button {
  background-color: var(--primary-color);
}
.container .bootom button a {
  color: white;
}
.total {
  display: inline-block;
  padding: 30px;
  color: #333;
  border: 2px solid var(--primary-color);
  margin-top: 50px;
  border-radius: 10px;
}
