/* Raghda */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page {
  padding: 20px;
}
h1 {
  color: #333;
}
.add-product {
  background-color: #219224;
  padding: 10px;
  border: #219224;
  color: white;
  margin: 5px;
}
button {
  padding: 10;
  border-radius: 5px;
}
.table-flex {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  margin: 20px;
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}
.tabel-thead,
.table-tbody {
  display: flex;
  flex-flow: row nowrap;
}

.td-img {
  /* firts item of cell */
  width: 120px;
}

.td {
  width: 150px; /* change fix value as needed */
}

.td-flex {
  display: flex;
  justify-content: center;
  flex: 1 1 auto; /* fits according to space */
}

.td-last {
  /* Last item of cell */
  width: 280px;
  display: flex;
  gap: 10px;
}

.tabel-thead {
  color: #7d7d7d;
  padding: 0px 10px;
}

.table-tbody {
  align-items: center;
}

.table-tbody {
  padding: 12px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

/* ---- image on row ----- */
img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* ++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++ with <table> +++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++ */

table {
  border-collapse: unset !important;
  border-spacing: 0px 10px;
}

.table-content-table {
  margin: 20px;
  padding: 0px 10px;
  background: #f8f8f8;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.th-actions {
  width: 300px; /* changes as needed */
  text-align: center;
}

.table-thead-tr th {
  color: #7d7d7d;
  font-weight: normal;
}

.table-tbody-tr td {
  background: #fff;
  border: 1px solid #fff;
}

.table-tbody-tr td:first-child {
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 130px;
}
.table-tbody-tr td:last-child {
  border-radius: 0 5px 5px 0;
  text-align: end;
  padding: 10px;
}
.fa-trash {
  color: red;
  cursor: pointer;
}
.fa-pen-to-square {
  color: blue;
}

/* start popup */
.page {
  position: relative;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.container .popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  margin: 60px auto;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  display: none;
  z-index: 90;
}

.container .popup form div {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container .popup form label {
  font-weight: bold;
}
.container .popup form input {
  outline: none;
  border: none;
  border: 1px solid darkgray;
  padding: 5px 15px;
}

.container .popup form input:focus {
  border: 1px solid #111;
}

.container .popup form textarea {
  outline: none;
  border: none;
  border: 1px solid darkgray;
  padding: 5px 15px;
}

.container .popup form select {
  outline: none;
  border: none;
  border: 1px solid darkgray;
  padding: 5px 15px;
}

.container .popup form textarea:focus {
  border: 1px solid #111;
}

.container .popup form button {
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  background-color: #111;
  cursor: pointer;
  color: white;
}
/* end popup */
